{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block form %}{% endblock form %}
{% block wrapper %}
<main class="hoc container clear">
<h2>Профиль</h2>
</div>
          <div>
            <div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
            <ul class="profile-info">
		<li>Имя: {{ current_user.getName() }}</li>
		<li>Email: {{ current_user.getEmail() }}</li>
		</ul>
            <p><a href="{{url_for('register')}}"></a>
            <p><a href="{{url_for('logout')}}">Выйти из профиля</a>
          </div>
        </form>
        </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock wrapper %}