{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block wrapper %}

<div class="wrapper row3">
  <main class="hoc container clear">
    <header class="heading">Грокаем алгоритмы</header>
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
Наоми Седер
Python. Экспресс-курс
3-е издание
Серия «Библиотека программиста»
Перевел с английского Е. Матвеев
Заведующая редакцией	 Ю. Сергиенко
Ведущий редактор	 К. Тульцева
Литературный редактор	 А. Бульченко
Художественный редактор	 С. Заматевская
Корректоры	 С. Беляева, Н. Викторова
Верстка	 Л. Егорова
ББК 32.973.2-018.1
УДК 004.43
Седер Наоми
С28 Python. Экспресс-курс. 3-е изд. — СПб.: Питер, 2019. — 480 с.: ил. — (Серия «Библиотека программиста»).
ISBN 978-5-4461-0908-1
Вы уже умеете кодить на одном или нескольких языках программирования? Тогда настала пора пройти
экспресс-курс Python.
Впервые на русском языке выходит новое издание одной из самых популярных книг издательства Manning.
С помощью этой книги вы можете быстро перейти от основ к управлению и структурам данных, чтобы создавать, тестировать и развертывать полноценные приложения. Наоми Седер рассказывает не только об основных
особенностях языка Python, но и его объектно-ориентированных возможностях, которые появились в Python 3.
Данное издание учитывает все изменения, которые произошли с языком за последние 5 лет, а последние 5 глав
рассказывают о работе с большими данными.
16+ (В соответствии с Федеральным законом от 29 декабря 2010 г. № 436-ФЗ.)
ISBN 978-1617294037 англ. © 2018 by Manning Publications Co. All rights reserved
ISBN 978-5-4461-0908-1 © Перевод на русский язык ООО Издательство «Питер», 2019
© Издание на русском языке, оформление ООО Издательство «Питер», 2019
© Серия «Библиотека программиста», 2019
Права на издание получены по соглашению с Apress. Все права защищены. Никакая часть данной книги не может
быть воспроизведена в какой бы то ни было форме без письменного разрешения владельцев авторских прав.
Информация, содержащаяся в данной книге, получена из источников, рассматриваемых издательством как надежные.
Тем не менее, имея в виду возможные человеческие или технические ошибки, издательство не может гарантировать
абсолютную точность и полноту приводимых сведений и не несет ответственности за возможные ошибки, связанные с
использованием книги. Издательство не несет ответственности за доступность материалов, ссылки на которые вы можете найти в этой книге. На момент подготовки книги к изданию все ссылки на интернет-ресурсы были действующими.
Изготовлено в России. Изготовитель: ООО «Прогресс книга».
Место нахождения и фактический адрес: 194044, Россия, г. Санкт-Петербург,
Б. Сампсониевский пр., д. 29А, пом. 52. Тел.: +78127037373.
Дата изготовления: 11.2018. Наименование: книжная продукция. Срок годности: не ограничен.
Налоговая льгота — общероссийский классификатор продукции ОК 034-2014, 58.11.12 —
Книги печатные профессиональные, технические и научные.
Импортер в Беларусь: ООО «ПИТЕР М», 220020, РБ, г. Минск, ул. Тимирязева, д. 121/3, к. 214, тел./факс: 208 80 01.
Подписано в печать 31.10.18. Формат 70×100/16. Бумага офсетная. Усл. п. л. 38,700. Тираж 1700. Заказ 0000.
Оглавление
Введение...................................................................................................15
Предисловие..............................................................................................16
Благодарности...........................................................................................17
О книге......................................................................................................18
Как использовать книгу........................................................................................................................18
Структура книги......................................................................................................................................19
Правила оформления кода...................................................................................................................20
Упражнения...............................................................................................................................................21
Ответы к упражнениям.........................................................................................................................21
Исходный код...........................................................................................................................................21
Системные требования .........................................................................................................................21
Программные требования....................................................................................................................21
Об авторе....................................................................................................................................................22
Об иллюстрации на обложке ..............................................................................................................22
От издательства .......................................................................................................................................22
Часть 1. Первые шаги............................................................................ 23
Глава 1. Знакомство с Python......................................................................24
1.1. Почему мне стоит использовать Python? ...............................................................................24
1.2. Сильные стороны Python .............................................................................................................25
1.3. Не самые сильные стороны Python...........................................................................................28
1.4. Почему нужно изучать Python 3?..............................................................................................30
Итоги ...........................................................................................................................................................31
Глава 2. Первые шаги..................................................................................32
2.1. Установка Python.............................................................................................................................32
2.2. Базовый интерактивный режим и IDLE.................................................................................34
6   Оглавление
2.3. Использование окна оболочки Python в IDLE.....................................................................36
2.4. Hello, World........................................................................................................................................37
2.5. Использование интерактивного приглашения для изучения Python ..........................38
Итоги ...........................................................................................................................................................39
Глава 3. Краткий обзор Python....................................................................40
3.1. Общее описание Python................................................................................................................40
3.2. Встроенные типы данных.............................................................................................................41
3.3. Управляющие конструкции.........................................................................................................49
3.4. Создание модуля..............................................................................................................................53
3.5. Объектно-ориентированное программирование..................................................................54
Итоги ...........................................................................................................................................................56
Часть 2. Основной материал................................................................. 57
Глава 4. Основы..........................................................................................58
4.1. Отступы и оформление блоков ..................................................................................................58
4.2. Комментарии.....................................................................................................................................60
4.3. Переменные и присваивание.......................................................................................................60
4.4. Выражения.........................................................................................................................................62
4.5. Строки.................................................................................................................................................63
4.6. Числа....................................................................................................................................................64
4.7. Значение None ..................................................................................................................................68
4.8. Получение данных от пользователя .........................................................................................68
4.9. Встроенные операторы..................................................................................................................69
4.10. Основной стиль программирования на Python..................................................................69
Итоги ...........................................................................................................................................................70
Глава 5. Списки, кортежи и множества.........................................................71
5.1. Сходство между списками и массивами..................................................................................71
5.2. Индексы списков.............................................................................................................................72
5.3. Модификация списков..................................................................................................................74
5.4. Сортировка списков .......................................................................................................................77
5.5. Другие распространенные операции со списками...............................................................79
5.6. Вложенные списки и глубокое копирование.........................................................................83
5.7. Кортежи ..............................................................................................................................................85
5.8. Множества .........................................................................................................................................89
Итоги ...........................................................................................................................................................91
Оглавление 7
Глава 6. Строки..........................................................................................92
6.1. Строки как последовательности символов ............................................................................92
6.2. Основные операции со строками...............................................................................................93
6.3. Специальные символы и экранированные последовательности....................................93
6.4. Методы строк....................................................................................................................................96
6.5. Преобразование объектов в строки........................................................................................ 105
6.6. Использование метода format.................................................................................................. 107
6.7. Форматирование строк с символом % .................................................................................. 109
6.8. Строковая интерполяция .......................................................................................................... 111
6.9. Байтовые строки........................................................................................................................... 112
Итоги ........................................................................................................................................................ 113
Глава 7. Словари....................................................................................... 114
7.1. Что такое словарь?....................................................................................................................... 114
7.2. Другие операции со словарями ............................................................................................... 116
7.3. Подсчет слов................................................................................................................................... 119
7.4. Что может использоваться в качестве ключа?................................................................... 120
7.5. Разреженные матрицы................................................................................................................ 121
7.6. Словари как кэши......................................................................................................................... 122
7.7. Эффективность словарей .......................................................................................................... 123
Итоги ........................................................................................................................................................ 124
Глава 8. Управляющие конструкции........................................................... 125
8.1. Цикл while....................................................................................................................................... 125
8.2. Команда if-elif-else........................................................................................................................ 126
8.3. Цикл for............................................................................................................................................ 127
8.4. Генераторы строк и словарей.................................................................................................... 131
8.5. Команды, блоки и отступы........................................................................................................ 133
8.6. Логические значения и выражения ....................................................................................... 136
8.7. Простая программа для анализа текстового файла.......................................................... 138
Итоги ........................................................................................................................................................ 139
Глава 9. Функции..................................................................................... 140
9.1. Базовые определения функций............................................................................................... 140
9.2. Параметры функций.................................................................................................................... 141
9.3. Изменяемые объекты в качестве аргументов ..................................................................... 145
9.4. Локальные, нелокальные и глобальные переменные ...................................................... 147
9.5. Присваивание функций переменным ................................................................................... 149
8   Оглавление
9.6. Лямбда-выражения...................................................................................................................... 149
9.7. Функции-генераторы.................................................................................................................. 150
9.8. Декораторы..................................................................................................................................... 151
Итоги ........................................................................................................................................................ 153
Глава 10. Модули и правила областей видимости........................................ 154
10.1. Что такое модуль?...................................................................................................................... 154
10.2. Первый модуль ........................................................................................................................... 155
10.3. Команда import ........................................................................................................................... 158
10.4. Путь поиска модулей................................................................................................................ 158
10.5. Приватные имена в модулях.................................................................................................. 160
10.6. Библиотечные и сторонние модули .................................................................................... 161
10.7. Правила областей видимости и пространств имен Python......................................... 162
Итоги ........................................................................................................................................................ 169
Глава 11. Программы Python..................................................................... 170
11.1. Создание простейшей программы........................................................................................ 171
11.2. Прямое исполнение сценариев в UNIX ............................................................................. 176
11.3. Сценарии в macOS..................................................................................................................... 177
11.4. Возможности выполнения сценариев в Windows........................................................... 177
11.5. Программы и модули................................................................................................................ 178
11.6. Распространение приложений Python ............................................................................... 183
Итоги ........................................................................................................................................................ 185
Глава 12. Работа с файловой системой....................................................... 187
12.1. os и os.path против pathlib....................................................................................................... 187
12.2. Пути и имена................................................................................................................................ 188
12.3. Получение информации о файлах ....................................................................................... 196
12.4. Другие операции с файловой системой ............................................................................. 198
12.5. Обработка всех файлов в поддереве каталогов ............................................................... 201
Итоги ........................................................................................................................................................ 202
Глава 13. Чтение и запись файлов.............................................................. 205
13.1. Открытие файлов и объектов file ......................................................................................... 205
13.2. Закрытие файлов........................................................................................................................ 206
13.3. Открытие файлов для записи или в других режимах ................................................... 206
13.4. Функции чтения и записи текстовых и двоичных данных ......................................... 207
Оглавление ﻿ 9
13.5. Чтение и запись с использованием pathlib........................................................................ 210
13.6. Экранный ввод/вывод и перенаправление....................................................................... 210
13.7. Чтение структурированных двоичных данных с использованием
модуля struct.......................................................................................................................................... 213
13.8. Сериализация и модуль pickle............................................................................................... 215
13.9. Модуль shelve .............................................................................................................................. 218
Итоги ........................................................................................................................................................ 221
Глава 14. Исключения............................................................................... 222
14.1. Знакомство с исключениями ................................................................................................. 222
14.2. Исключения в Python............................................................................................................... 226
14.3. Менеджеры контекста и ключевое слово with................................................................. 236
Итоги ........................................................................................................................................................ 238
Часть 3. Расширенные возможности языка ...................................... 239
Глава 15. Классы и объектно-ориентированное программирование.............. 240
15.1. Определение классов................................................................................................................ 240
15.2. Переменные экземпляров ....................................................................................................... 242
15.3. Методы........................................................................................................................................... 243
15.4. Переменные класса.................................................................................................................... 245
15.5. Статические методы и методы классов .............................................................................. 247
15.6. Наследование............................................................................................................................... 249
15.7. Наследование и переменные экземпляров и классов.................................................... 252
15.8. Основные возможности классов Python............................................................................ 253
15.9. Приватные переменные и приватные методы.................................................................. 255
15.10. Использование @property для создания более гибких
переменных экземпляров.................................................................................................................. 256
15.11. Правила области видимости и пространств имен
для экземпляров классов................................................................................................................... 258
15.12. Деструкторы и управление памятью ................................................................................ 262
15.13. Множественное наследование ............................................................................................ 263
Итоги ........................................................................................................................................................ 265
Глава 16. Регулярные выражения.............................................................. 266
16.1. Что такое регулярное выражение?....................................................................................... 266
16.2. Регулярные выражения со специальными символами................................................. 267
10   Оглавление
16.3. Регулярные выражения и необработанные строки........................................................ 268
16.4. Извлечение совпавшего текста из строк............................................................................ 270
16.5. Замена текста с использованием регулярных выражений.......................................... 274
Итоги ........................................................................................................................................................ 276
Глава 17. Типы данных как объекты........................................................... 277
17.1. Типы тоже являются объектами........................................................................................... 277
17.2. Использование типов ............................................................................................................... 278
17.3. Типы и пользовательские классы......................................................................................... 278
17.4. Утиная типизация ...................................................................................................................... 280
17.5. Что такое специальный метод-атрибут?............................................................................ 281
17.6. Поведение объекта как списка............................................................................................... 282
17.7. Специальный метод-атрибут __getitem__........................................................................ 283
17.8. Полноценная эмуляция списков объектами .................................................................... 286
17.9. Субклассирование встроенных типов ................................................................................ 288
17.10. Когда используются специальные методы-атрибуты................................................. 290
Итоги ........................................................................................................................................................ 291
Глава 18. Пакеты...................................................................................... 292
18.1. Что такое пакет? ......................................................................................................................... 292
18.2. Первый пример ........................................................................................................................... 293
18.3. Конкретный пример.................................................................................................................. 294
18.4. Атрибут __all__.......................................................................................................................... 298
18.5. Правильное использование пакетов.................................................................................... 299
Итоги ........................................................................................................................................................ 300
Глава 19. Использование библиотек Python............................................... 301
19.1. «Батарейки в комплекте»: стандартная библиотека...................................................... 301
19.2. За пределами стандартной библиотеки ............................................................................. 306
19.3. Установка дополнительных библиотек Python............................................................... 307
19.4. Установка библиотек Python с использованием pip и venv ........................................ 307
19.5. PyPI (CheeseShop)..................................................................................................................... 309
Итоги ........................................................................................................................................................ 309
Часть 4. Работа с данными.................................................................. 311
Глава 20. Обработка данных в файлах........................................................ 312
20.1. Проблема: бесконечный поток файлов данных............................................................... 312
20.2. Сценарий: адовая поставка продуктов ............................................................................... 313
Оглавление ﻿ 11
20.3. Дальнейшая организация........................................................................................................ 315
20.4. Экономия места: сжатие и удаление ................................................................................... 317
Итоги ........................................................................................................................................................ 320
Глава 21. Обработка файлов данных.......................................................... 321
21.1. Знакомство с ETL ...................................................................................................................... 321
21.2. Чтение текстовых файлов....................................................................................................... 322
21.3. Файлы Excel................................................................................................................................. 331
21.4. Очистка данных.......................................................................................................................... 333
21.5. Запись файлов данных............................................................................................................. 336
Итоги ........................................................................................................................................................ 339
Глава 22. Передача данных по сети............................................................ 340
22.1. Получение файлов..................................................................................................................... 340
22.2. Получение данных через API ................................................................................................ 344
22.3. Структурированные форматы данных ............................................................................... 346
22.4. Извлечение веб-данных........................................................................................................... 355
Итоги ........................................................................................................................................................ 359
Глава 23. Хранение данных........................................................................ 360
23.1. Реляционные базы данных ..................................................................................................... 360
23.2. SQLite: использование базы данных sqlite3 ..................................................................... 361
23.3. MySQL, PostgreSQL и другие реляционные базы данных.......................................... 363
23.4. Простая работа с базами данных с ORM........................................................................... 364
23.5. Базы данных NoSQL................................................................................................................. 371
23.6. Хранение пар «ключ–значение» в Redis............................................................................ 372
23.7. Документы в MongoDB ........................................................................................................... 375
Итоги ........................................................................................................................................................ 378
Глава 24. Анализ данных........................................................................... 379
24.1. Средства Python для анализа данных................................................................................. 379
24.2. Jupyter Notebook......................................................................................................................... 380
24.3. Python и pandas........................................................................................................................... 383
24.4. Очистка данных.......................................................................................................................... 385
24.5. Агрегирование и преобразования данных......................................................................... 390
24.6. Графическое представление данных.................................................................................... 395
24.7. Когда pandas использовать не рекомендуется ................................................................. 396
Итоги ........................................................................................................................................................ 396
12   Оглавление
Практический пример............................................................................... 397
Загрузка данных ................................................................................................................................... 397
Получение и разбор погодных данных......................................................................................... 407
Приложение А. Документация Python....................................................... 414
А.1. Обращение к документации Python в интернете............................................................. 414
А.2. Как стать питонистом ................................................................................................................ 418
A.3. PEP 8 — руководство по стилю программирования Python ........................................ 420
A.4. Комментарии................................................................................................................................. 426
A.5. Дзен Python ................................................................................................................................... 435
Приложение Б. Ответы на упражнения...................................................... 437
Б.1. Глава 4.............................................................................................................................................. 437
Б.2. Глава 5.............................................................................................................................................. 440
Б.3. Глава 6.............................................................................................................................................. 443
Б.4. Глава 7.............................................................................................................................................. 446
Б.5. Глава 8.............................................................................................................................................. 448
Б.6. Глава 9.............................................................................................................................................. 450
Б.7. Глава 10............................................................................................................................................ 454
Б.8. Глава 11............................................................................................................................................ 455
Б.9. Глава 12............................................................................................................................................ 456
Б.10. Глава 13 ......................................................................................................................................... 457
Б.11. Глава 14 ......................................................................................................................................... 460
Б.12. Глава 15 ......................................................................................................................................... 463
Б.13. Глава 16 ......................................................................................................................................... 467
Б.14. Глава 17 ......................................................................................................................................... 469
Б.15. Глава 18 ......................................................................................................................................... 470
Б.16. Глава 20 ......................................................................................................................................... 471
Б.17. Глава 21 ......................................................................................................................................... 473
Б.18. Глава 22 ......................................................................................................................................... 474
Б.19. Глава 23 ......................................................................................................................................... 477
Б.20. Глава 24 ......................................................................................................................................... 479
Отзывы о втором издании
Самый быстрый способ изучить основы Python.
— Массимо Перга (Massimo Perga), Microsoft
Это моя любимая книга по Python. Грамотный подход к серьезному программированию на Python.
— Эдмон Беголи (Edmon Begoli), Oak Ridge National Laboratory
Превосходная книга, охватывает новое воплощение Python.
— Уильям Кайн-Грин (William Kahn-Greene),
Participatory Culture Foundation
Как и в самом Python, акцент в книге делается на читаемость и быстрое развитие.
— Дэвид МакВиртер (David McWhirter), Cranberryink
Эту книгу определенно стоит прочитать, и я бы рекомендовал вам купить ее,
если вы новичок в Python.
— Джером Ланиг (Jerome Lanig), BayPiggies User Group
Кодерам-питонистам понравится эта замечательная книга.
— Сумит Пал (Sumit Pal), Leapfrogrx
Если вы когда-либо хотели изучать Python или иметь удобный справочник, то эта
книга для вас. Автор кратко описывает синтаксис языка и функциональные возможности, а затем исследует все аспекты языка, а также библиотеки и модули,
расширяющие Python в пространстве практических приложений.
— Джим Коли (Jim Kohli), Dzone
Это лучшая книга для изучения Python, которая подойдет профессиональным
программистам или людям, которые уже знают, как программировать на другом
языке... Она не станет вашей единственной книгой по Python, но определенно
должна быть первой!
— Отзыв читателя на Amazon
Введение
Я знаю Наоми Седер уже много лет — как соавтора и как друга. В сообществе Python
у нее репутация преподавателя-энтузиаста, опытного программиста и классного организатора сообщества. Каждому будет полезно прислушаться к ее мудрым словам.
Но не верьте мне на слово! Наоми в качестве преподавателя помогла очень многим
людям в изучении Python. Многие участники сообщества Python, в том числе и я,
пользовались результатами ее работы. Благодаря столь обширному опыту она
знает, какие аспекты языка важны для начинающих питонистов и какие потребуют особого внимания от студентов. Эта мудрость была искусно переработана
в страницы книги.
Как известно, язык Python соблюдает принцип «батарейки в комплекте»: вы можете
сделать очень многое, а обширная экосистема модулей Python распространяется
на очень многие практические области. Пришло время заняться изучением этого
мощного, простого и успешно развивающегося языка.
«Экспресс»-характер книги выражается в лаконичном стиле преподавания Наоми
и гарантирует, что вся основная информация о Python будет у вас под рукой. Кроме
того, эта основная информация закладывает прочный фундамент для дальнейшего
развития ваших навыков программирования на Python. Но что самое важное, после
прочтения этой книги вы получите достаточно знаний и деталей для того, чтобы
действовать независимо и эффективно: вы будете знать, что делать, где искать
информацию и на что обращать внимание, когда вы неизбежно столкнетесь с препятствиями на своем пути к цели — карьере разработчика Python.
Книга Наоми воплощает суть «питонического» стиля: красивое лучше, чем уродливое, простое лучше, чем сложное, читаемость имеет значение.
Вы держите в руках замечательное руководство, которое поможет вам сделать первые шаги в изучении Python. Желаю удачи на предстоящем пути — и не забудьте
получить удовольствие!
Николас Толлерви (Nicholas Tollervey),
сотрудник Python Software Foundation
Предисловие
Я программирую на Python уже 16 лет — намного больше, чем на любом другом
языке, на котором я когда-либо работала. За эти годы я использовала Python для
системного администрирования, для веб-приложений, для управления базами
данных и для анализа данных, но что самое важное, я стала использовать Python
просто для того, чтобы более наглядно представлять себе задачи.
На основании моего предыдущего опыта можно было бы ожидать, что к настоящему моменту я уже могла бы увлечься другим языком — более быстрым, крутым,
эффектным и т. д. Думаю, этого не произошло по двум причинам. Во-первых, хотя
другие языки не стоят на месте, ни один не помог мне делать то, что мне нужно, с той
же эффективностью, что иPython. Даже после всех этих лет чем больше я использую
Python, чем лучше понимаю его, тем сильнее я чувствую, что моя квалификация
программиста растет и крепнет.
Вторая причина, по которой я остаюсь приверженцем языка, — сообщество Python.
Это одно из самых доброжелательных, активных и дружественных сообществ,
которые я видела; в него входят ученые, специалисты по анализу данных, вебразработчики, системные администраторы и специалисты по теории данных на
каждом континенте. Для меня работа с участниками этого сообщества была и честью, и удовольствием, и я рекомендую всем присоединяться к нему.
Написание этой книги было своего рода путешествием. Хотя сейчас мы все еще
имеем дело с Python 3, сегодняшняя версия Python 3 прошла заметный путь по
сравнению с 3.1; изменился и подход людей к использованию Python. И хотя
я всегда стремилась сохранить лучшие фрагменты предыдущего издания, в этой
книге вы найдете многочисленные дополнения, удаления и перестановки, благодаря которым (как я надеюсь) это издание стало как более полезным, так и более
актуальным. Я постаралась сохранить четкий и сдержанный стиль изложения, не
впадая в занудство.
Что касается меня, в этой книге я хотела поделиться положительным опытом, полученным мной в ходе обучения других людей Python 3 — последней и, на мой взгляд,
лучшей из современных версий Python. Пусть ваше путешествие будет таким же
увлекательным, каким было мое!
Благодарности
Я хочу поблагодарить Дэвида Фугейта (David Fugate) из LaunchBooks за то, что он
когда-то привел меня к идее этой книги, и за всю поддержку и советы, полученные
от него за прошедшие годы. Не могу представить себе лучшего агента и друга. Также
хочу поблагодарить Майкла Стивенса (Michael Stephens) из Manning за продвижение
идеи третьего издания книги и за поддержку моих усилий сделать ее такой же хорошей, как первые две. Кроме того, я хочу поблагодарить всех сотрудников Manning,
работавших над проектом, ивыразить особую благодарность Мариану Бэйсу (Marjan
Bace) за поддержку; Кристине Тейлор (Christina Taylor) за направляющую работу
в разных фазах разработки; Дженет Вейл (Janet Vail) за помощь впродвижении книги
в производственном процессе; Кэти Симпсон (Kathy Simpson) за терпение в процессе редактирования; Элизабет Мартин (Elizabeth Martin) за правку текста. Кроме
того, я сердечно благодарю многочисленных рецензентов, чьи наблюдения и личные
мнения нам очень помогли: это Андре Филипе де Ассунсо э Брито (André Filipe de
Assunção e Brito), научный редактор этого издания, а также Аарон Дженсен (Aaron
Jensen), Эл Норман (Al Norman), Брукс Изольди (Brooks Isoldi), Карлос Фернандес
Манзано (Carlos Fernández Manzano), Кристос Паисиос (Christos Paisios), Эрос
Педрини (Eros Pedrini), Фелипе Эстебан Вилдосо Кастильо (Felipe Esteban Vildoso
Castillo), Джулиано Латини (Giuliano Latini), Иэн Стерк (Ian Stirk), Негмат Муллоджанов (Negmat Mullodzhanov), Рик Оллер (Rick Oller), Роберт Траусмут (Robert
Trausmuth), Руслан Видерт (Ruslan Vidert), Шобха Айер (Shobha Iyer) и Уильям
Э. Уилер (William E. Wheeler).
Я должна поблагодарить авторов первого издания, Дарила Хармса (Daryl Harms)
и Кеннета Макдоналда (Kenneth MacDonald); они написали книгу настолько выдающуюся, что она продолжает печататься далеко за пределами среднего срока
актуальности большинства технических книг, а также предоставили мне возможность обновить второе (а сейчас и третье) издание. Спасибо всем, кто купил второе
издание и оставил положительные отзывы о нем. Надеюсь, эта версия продолжит
успешные и давние традиции первого и второго издания.
Также спасибо Николасу Толлерви (Nicholas Tollervey) за доброту (не говоря уже
о скорости), с которой он написал предисловие к этому изданию, за наши годы дружбы
и за все, что он сделал для сообщества Python. Я также приношу свою благодарность
всемирному сообществу Python — безотказному источнику поддержки, мудрости,
дружбы и радости в течение многих лет. Спасибо вам, друзья. Спасибо и моему
четвероногому другу Эрин, которая преданно составляла мне компанию и помогала
сохранить адекватность во время работы над этим изданием (и над вторым тоже).
Но самое важное, как обычно, — спасибо моей жене Бекки (Becky), которая уговорила меня взяться за этот проект и поддерживала меня на протяжении всего
процесса. Без нее я бы не справилась.




      {% block table %}

      <h1>Table(s)</h1>
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>Header 1</th>
              <th>Header 2</th>
              <th>Header 3</th>
              <th>Header 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Value 1</a></td>
              <td>Value 2</td>
              <td>Value 3</td>
              <td>Value 4</td>
            </tr>
            <tr>
              <td>Value 5</td>
              <td>Value 6</td>
              <td>Value 7</td>
              <td><a href="#">Value 8</a></td>
            </tr>
            <tr>
              <td>Value 9</td>
              <td>Value 10</td>
              <td>Value 11</td>
              <td>Value 12</td>
            </tr>
            <tr>
              <td>Value 13</td>
              <td><a href="#">Value 14</a></td>
              <td>Value 15</td>
              <td>Value 16</td>
            </tr>
          </tbody>
        </table>
      {% endblock table %}
      {% block comment %}
      </div>
      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Оставить комментарий</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Подтвердить">
            &nbsp;
            <input type="reset" name="reset" value="Сбросить форму">
          </div>
        </form>
      </div>
      {% endblock comment %}
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>


{% endblock wrapper %}