{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block form %}{% endblock form %}
{% block wrapper %}

<main class="hoc container clear">
<h2>Регистрация</h2>
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
        {% endfor %}
<form action="" method="post" class="comcont">
        {{ form.hidden_tag() }}
          <div class="one_third first">
        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
	        <p>{{ field.label() }}
            {% if field.errors %}
		        {{ field(class="invalid") }}
	    <span class="invalid-feedback">
		    {% for e in field.errors %}
		    {{ e }}
		    {% endfor %}
	    </span>
	    {% else %}
		    {{ field() }}
	    {% endif %}
        {% endfor %}

        {{ form.submit.label() }}

          </div>
          <div>
            <input type="submit" name="submit" value="Регистрация">
            <input type="reset" name="reset" value="Сбросить форму">
          </div>
        </form>
        </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock wrapper %}